obj/
bin/
/.vs/
/**/.vs/
/temp/
/local/
/.idea/
/**/.idea/
/.nuget/
/**/*.user
/**/__pycache__/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

/_ReSharper.Caches
.github/secrets

/**/publish/
/jex-java/java-submit/target/
