obj/
bin/
/.vs/
/**/.vs/
/temp/
/local/
/.idea/
/**/.idea/
/.nuget/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

/_ReSharper.Caches
.github/secrets

/dotnet-demo/dotnet-service/target*/
/java-pipeline/target/