[submodule "hazelcast"]
	path = hazelcast
	url = https://github.com/zpqrtbnk/hazelcast
[submodule "hazelcast-csharp-client"]
	path = hazelcast-csharp-client
	url = https://github.com/zpqrtbnk/hazelcast-csharp-client
[submodule "hazelcast-commandline-client"]
	path = hazelcast-commandline-client
	url = https://github.com/zpqrtbnk/hazelcast-commandline-client
[submodule "user-code-runtime"]
	path = user-code-runtime
	url = https://github.com/hazelcast/user-code-runtime
[submodule "hazelcast-enterprise"]
	path = hazelcast-enterprise
	url = https://github.com/zpqrtbnk/hazelcast-enterprise
